a.nav-link {
    color: white;
}

a.nav-link:hover {
    background-color: grey;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}

.table tbody td i {
    margin-left: 15px;
    transform: scale(1.2);

}

/* ini untuk bagian form */
.flexbox {
    display: flex;
    justify-content: space-between;
}

.flexbox form {
    width: 60%;
    display: flex;
}

.pointer:hover {
    cursor: pointer;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .5);
    transform: translate(-1px) scale(1.001);
}